#root {
  border-style: solid;
  margin: 1rem;
}

.section {
  border-style: solid;
  border-color: red;
  border-width: 0 0 1px 0;
  padding: 10px;
}

.item {
  border-style:solid;
  border-color: purple;
  border-width: 0 0 10px 0;
  padding: 10px;
}